In [1]:
import pandas as pd

In [52]:
with open("investments_VC.csv", "rb") as file:
    content = file.read()

# Attempt to decode with 'utf-8', ignoring errors
decoded_content = content.decode("utf-8", errors="ignore")

# Use pandas to read the CSV from the decoded content
import io
import pandas as pd
dff= pd.read_csv(io.StringIO(decoded_content))

In [53]:
dff.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# DATA CLEANING

In [54]:
dff.columns = dff.columns.str.strip()

In [55]:
dff.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'market',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [56]:
dff.duplicated().sum()

np.int64(4855)

In [57]:
dff=dff.drop_duplicates()

In [58]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49439 entries, 0 to 49438
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45989 non-null  object
 3   category_list         45477 non-null  object
 4   market                45470 non-null  object
 5   funding_total_usd     49438 non-null  object
 6   status                48124 non-null  object
 7   country_code          44165 non-null  object
 8   state_code            30161 non-null  object
 9   region                44165 non-null  object
 10  city                  43322 non-null  object
 11  funding_rounds        49438 non-null  float64
 12  founded_at            38554 non-null  object
 13  founded_month         38482 non-null  object
 14  founded_quarter       38482 non-null  object
 15  founded_year          38482 non-null  float64
 16  first_funding_at      49438 non-null  object
 17  last_funding_at       49438 non-null  object
 18  seed                  49438 non-null  float64
 19  venture               49438 non-null  float64
 20  equity_crowdfunding   49438 non-null  float64
 21  undisclosed           49438 non-null  float64
 22  convertible_note      49438 non-null  float64
 23  debt_financing        49438 non-null  float64
 24  angel                 49438 non-null  float64
 25  grant                 49438 non-null  float64
 26  private_equity        49438 non-null  float64
 27  post_ipo_equity       49438 non-null  float64
 28  post_ipo_debt         49438 non-null  float64
 29  secondary_market      49438 non-null  float64
 30  product_crowdfunding  49438 non-null  float64
 31  round_A               49438 non-null  float64
 32  round_B               49438 non-null  float64
 33  round_C               49438 non-null  float64
 34  round_D               49438 non-null  float64
 35  round_E               49438 non-null  float64
 36  round_F               49438 non-null  float64
 37  round_G               49438 non-null  float64
 38  round_H               49438 non-null  float64
dtypes: float64(23), object(16)
memory usage: 15.1+ MB

In [69]:

dff = dff.drop(['permalink', 'homepage_url'], axis=1)

In [ ]:
dff=df

In [62]:
dff=dff.loc[dff["name"].notna()]

In [71]:
dff = dff.drop(["category_list"],axis=1)

In [ ]:
# def str_to_int(s: str):
#     try:
#         s = s.replace(',', '')
#         if '-' in s:
#             s = 0
#         return int(s)
#     except ValueError:
#         return s
#     except AttributeError:
#         return s
# df['funding_total_usd'] = df['funding_total_usd'].apply(str_to_int)

In [73]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49437 entries, 0 to 49437
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  49437 non-null  object
 1   market                45469 non-null  object
 2   funding_total_usd     49437 non-null  object
 3   status                48123 non-null  object
 4   country_code          44165 non-null  object
 5   state_code            30161 non-null  object
 6   region                44165 non-null  object
 7   city                  43322 non-null  object
 8   funding_rounds        49437 non-null  float64
 9   founded_at            38553 non-null  object
 10  founded_month         38481 non-null  object
 11  founded_quarter       38481 non-null  object
 12  founded_year          38481 non-null  float64
 13  first_funding_at      49437 non-null  object
 14  last_funding_at       49437 non-null  object
 15  seed                  49437 non-null  float64
 16  venture               49437 non-null  float64
 17  equity_crowdfunding   49437 non-null  float64
 18  undisclosed           49437 non-null  float64
 19  convertible_note      49437 non-null  float64
 20  debt_financing        49437 non-null  float64
 21  angel                 49437 non-null  float64
 22  grant                 49437 non-null  float64
 23  private_equity        49437 non-null  float64
 24  post_ipo_equity       49437 non-null  float64
 25  post_ipo_debt         49437 non-null  float64
 26  secondary_market      49437 non-null  float64
 27  product_crowdfunding  49437 non-null  float64
 28  round_A               49437 non-null  float64
 29  round_B               49437 non-null  float64
 30  round_C               49437 non-null  float64
 31  round_D               49437 non-null  float64
 32  round_E               49437 non-null  float64
 33  round_F               49437 non-null  float64
 34  round_G               49437 non-null  float64
 35  round_H               49437 non-null  float64
dtypes: float64(23), object(13)
memory usage: 15.0+ MB

In [77]:
dff["country_code"].isnull().sum()

np.int64(5272)

In [76]:
dff["state_code"].isnull().sum()

np.int64(19276)

In [80]:
ff = dff[dff['state_code'].isnull() & dff['country_code'].isnull()]

In [81]:
ff

,name,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
7,0-6.com,Curated Web,"20,00,000",operating,NaN,NaN,NaN,NaN,1.0,2007-01-01,...,0.0,0.0,2000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1000 Markets,Marketplaces,"5,00,000",acquired,NaN,NaN,NaN,NaN,1.0,2009-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,100du.tv,Hospitality,"30,00,000",operating,NaN,NaN,NaN,NaN,2.0,NaN,...,0.0,0.0,3000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,10sec,Mobile Commerce,"16,00,000",operating,NaN,NaN,NaN,NaN,2.0,2013-07-08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,115 network disks,Education,-,operating,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49389,Zursh,NaN,"25,000",operating,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49397,Zuzher,NaN,"15,698",operating,NaN,NaN,NaN,NaN,1.0,2012-05-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49407,zwoor.com,Polling,"1,00,000",operating,NaN,NaN,NaN,NaN,1.0,2010-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49421,Zympi,Web Hosting,-,operating,NaN,NaN,NaN,NaN,1.0,2010-09-03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49436,[a]list games,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
##fub=nding in usd

In [85]:
def str_to_int(s: str):
    try:
        s = s.replace(',', '')
        if '-' in s:
            s = 0
        return int(s)
    except ValueError:
        return s
    except AttributeError:
        return s
dff['funding_total_usd'] = dff['funding_total_usd'].apply(str_to_int)

In [88]:
dff = dff[dff['funding_total_usd']!=0]

In [91]:
dff["status"].isnull().sum()

np.int64(1105)

In [92]:
nan_status_data = dff[dff['status'].isna()]
nan_status_data

,name,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
5,.Club Domains,Software,7000000,NaN,USA,FL,Ft. Lauderdale,Oakland Park,1.0,2011-10-10,...,0.0,0.0,0.0,7000000.0,0.0,0.0,0.0,0.0,0.0,0.0
67,1C Company,Software,200000000,NaN,RUS,NaN,Moscow,Moscow,1.0,1991-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89,1st Merchant Funding,Financial Services,10000000,NaN,USA,FL,Miami,Miami,1.0,2007-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
433,99 Fahrenheit,Finance,1380700,NaN,ITA,NaN,Milan,Milan,1.0,2011-10-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
465,A Bit Lucky,Social Games,10312103,NaN,USA,CA,SF Bay Area,San Mateo,2.0,2009-10-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49131,Ziftit,Gift Registries,4000000,NaN,USA,CA,San Diego,San Diego,1.0,2011-02-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49175,Zingaya,Messaging,1150000,NaN,USA,CA,SF Bay Area,Palo Alto,1.0,2010-06-01,...,0.0,0.0,1150000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49248,Zocere,Biotechnology,100000,NaN,NaN,NaN,NaN,NaN,1.0,2012-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49289,Zookal,E-Commerce,2060000,NaN,AUS,NaN,Sydney,Sydney,3.0,2011-03-01,...,0.0,0.0,1800000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49412,Zygo Corporation,Manufacturing,9000000,NaN,USA,CT,CT - Other,Middlefield,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Status done

In [95]:
# Use .loc[] to avoid the warning
dff.loc[:, 'status'] = dff['status'].fillna('Unknown')

In [96]:
print(dff['status'].isna().sum())

0

In [100]:
dff.columns

Index(['name', 'market', 'funding_total_usd', 'status', 'country_code',
       'state_code', 'region', 'city', 'funding_rounds', 'founded_at',
       'founded_month', 'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [117]:
#  dff.drop(['founded_month', 'founded_quarter', 'founded_year'], axis=1, inplace=True)
#  Cause i  feel  only  year and  mnonth  is enough to  show the trends\
dff.loc[:, ['founded_month', 'founded_quarter', 'founded_year']] = None
dff.drop(['founded_month', 'founded_quarter', 'founded_year'], axis=1, inplace=True)

In [118]:
dff['founded_at'] = pd.to_datetime(dff['founded_at'], errors='coerce')

In [120]:
dff['founded_month'] = dff['founded_at'].dt.month

In [121]:
dff['founded_year'] = dff['founded_at'].dt.year

In [122]:
dff['founded_year'].isnull().sum() ##  there are null  and we can not  imputea s there atre 29%  of null valuew  so  its better to  keep  it  unknown

np.int64(8707)

In [125]:
#dff['founded_year'].fillna("0") 
dff['founded_year'].

dtype('float64')

In [126]:
dff['founded_year']=dff["funding_rounds"].isnull().sum() # clear

np.int64(0)

In [108]:
dff["founded_at"].isnull().sum()

np.int64(8706)

In [ ]:
dff[

In [105]:
dff["founded_month"].unique()

array(['2012-06', nan, '2012-10', '2011-04', '2014-01', '2011-10',
       '2007-01', '2012-01', '1984-01', '2013-01', '2001-01', '2008-01',
       '2009-01', '2010-07', '2010-11', '2014-07', '2011-09', '2000-01',
       '2009-04', '2013-07', '2009-07', '2010-01', '2012-02', '2010-12',
       '2011-05', '2006-01', '2009-05', '1990-01', '2004-01', '2005-01',
       '1991-01', '2009-08', '2008-06', '2013-03', '2002-01', '2011-01',
       '2011-12', '2000-10', '2000-05', '2006-09', '2007-09', '2009-10',
       '1998-01', '2005-09', '2009-02', '2006-04', '2011-06', '2007-08',
       '2012-07', '2003-01', '2012-04', '1998-02', '2013-09', '2004-05',
       '2007-03', '2013-04', '2007-07', '1999-01', '2011-08', '2010-06',
       '2014-06', '1986-01', '1997-05', '2014-08', '2006-06', '2009-11',
       '2009-09', '2005-07', '2006-11', '2004-06', '2006-08', '2010-05',
       '2007-12', '2013-08', '2007-11', '1997-01', '1991-05', '2012-03',
       '2011-03', '2010-03', '2013-10', '2002-11', '2011-07', '2005-04',
       '2013-06', '2009-06', '2010-10', '2010-09', '2012-05', '2013-02',
       '2014-03', '2014-02', '2008-11', '2008-08', '1987-01', '2008-02',
       '2011-02', '2005-03', '2014-09', '2005-06', '2000-03', '2012-12',
       '2004-10', '1979-01', '1989-01', '2000-04', '1977-01', '1988-01',
       '2012-08', '2010-08', '2000-06', '1998-08', '1993-01', '1999-06',
       '2008-07', '2007-05', '2009-03', '1992-01', '2008-09', '2004-08',
       '1961-01', '1994-01', '1947-01', '1995-01', '1996-01', '2001-04',
       '1983-01', '1976-01', '2010-02', '2013-05', '2000-02', '1999-08',
       '2008-10', '1985-01', '2005-11', '2013-11', '2013-12', '2008-03',
       '2003-04', '2010-04', '2014-04', '2012-11', '2007-10', '2006-02',
       '2006-12', '2008-05', '2012-09', '2007-02', '1949-01', '2007-04',
       '2009-12', '2011-11', '2001-02', '2001-06', '1967-01', '2014-05',
       '2003-03', '1998-12', '2006-03', '2006-10', '1995-02', '1981-01',
       '2006-05', '2005-02', '1974-01', '1967-05', '1946-01', '1975-01',
       '1918-01', '1998-07', '2014-10', '2003-09', '2005-05', '2007-06',
       '1972-01', '1998-04', '2001-07', '1980-01', '1981-09', '1958-01',
       '1962-01', '1995-10', '1944-01', '2002-03', '1933-01', '1968-01',
       '2001-10', '1982-01', '1943-01', '1999-11', '2002-07', '1985-05',
       '2008-12', '2001-09', '1996-09', '2002-10', '2005-12', '1996-12',
       '1994-03', '2002-05', '2005-10', '1912-01', '2004-12', '1998-10',
       '2003-06', '2003-12', '1996-04', '2004-03', '1999-07', '2000-11',
       '2001-03', '2000-07', '2005-08', '1994-07', '1978-01', '1999-05',
       '1999-10', '1997-09', '2008-04', '1917-01', '2004-11', '2004-04',
       '2003-10', '2004-07', '2003-05', '1924-01', '1995-12', '1969-03',
       '1997-10', '1973-01', '1994-06', '1992-06', '2002-12', '2004-09',
       '1999-12', '2004-02', '2000-09', '2006-07', '2003-08', '2001-12',
       '1990-04', '1980-09', '2002-08', '1971-01', '1970-01', '1999-02',
       '1998-09', '2002-06', '1999-09', '1999-03', '2000-12', '1997-06',
       '1930-01', '1906-01', '2014-12', '1973-04', '1913-01', '1964-01',
       '1969-09', '2000-08', '1983-11', '1914-01', '1953-01', '1963-01',
       '1969-01', '1993-08', '1998-03', '1996-06', '1995-03', '1926-01',
       '2002-02', '1998-11', '1991-03', '2003-02', '1954-01', '1961-09',
       '1955-01', '1956-01', '1988-08', '1995-04', '1911-01', '1995-09',
       '1986-12', '2002-04', '1997-02', '1921-03', '1966-01', '1991-06',
       '2014-11', '1982-08', '1960-01', '1952-01', '1990-08', '2001-05',
       '2003-07', '1998-06', '1934-01', '1989-09', '1919-06', '1985-04',
       '1999-04', '1965-01', '2003-11', '1993-10', '1982-07', '2002-09',
       '1975-06', '1996-05', '1922-01', '1996-10', '1951-01', '1993-09',
       '1996-02', '1997-11', '1945-01', '1984-06', '1986-04', '1984-05',
       '1974-03', '1983-12', '1986-06', '2001-08', '1997-03', '1921-01',
       '1993-02', '1905-01', '1948-01', '1941-03', '1959-01', '1984-09',
       '1997-04', '1919-01', '1992-09', '1998-05', '1991-08', '1984-08',
       '1963-09', '2001-11', '1992-03', '1996-11', '1990-03', '1960-06',
       '1973-11', '1994-08', '1994-04', '1991-10', '1992-12', '1990-11',
       '1920-01', '1925-01', '1994-12', '1928-01', '1922-07', '1987-08',
       '1988-12', '1979-08', '1991-04', '1972-04', '1938-01', '1937-01',
       '1996-07', '1910-01', '1950-01', '1987-03', '1982-11', '1994-02',
       '1969-06', '1903-01', '1957-01', '1985-06', '1996-08', '1997-12',
       '1912-04', '1908-01', '1992-05', '1902-01', '1993-07', '1924-12',
       '1962-07', '1939-01', '1990-05', '1923-01', '1907-01', '1983-10',
       '1994-10'], dtype=object)

In [106]:
dff["founded_quarter"].unique()

array(['2012-Q2', nan, '2012-Q4', '2011-Q2', '2014-Q1', '2011-Q4',
       '2007-Q1', '2012-Q1', '1984-Q1', '2013-Q1', '2001-Q1', '2008-Q1',
       '2009-Q1', '2010-Q3', '2010-Q4', '2014-Q3', '2011-Q3', '2000-Q1',
       '2009-Q2', '2013-Q3', '2009-Q3', '2010-Q1', '2006-Q1', '1990-Q1',
       '2004-Q1', '2005-Q1', '1991-Q1', '2008-Q2', '2002-Q1', '2011-Q1',
       '2000-Q4', '2000-Q2', '2006-Q3', '2007-Q3', '2009-Q4', '1998-Q1',
       '2005-Q3', '2006-Q2', '2012-Q3', '2003-Q1', '2004-Q2', '2013-Q2',
       '1999-Q1', '2010-Q2', '2014-Q2', '1986-Q1', '1997-Q2', '2006-Q4',
       '2007-Q4', '1997-Q1', '1991-Q2', '2013-Q4', '2002-Q4', '2005-Q2',
       '2008-Q4', '2008-Q3', '1987-Q1', '2004-Q4', '1979-Q1', '1989-Q1',
       '1977-Q1', '1988-Q1', '1998-Q3', '1993-Q1', '1999-Q2', '2007-Q2',
       '1992-Q1', '2004-Q3', '1961-Q1', '1994-Q1', '1947-Q1', '1995-Q1',
       '1996-Q1', '2001-Q2', '1983-Q1', '1976-Q1', '1999-Q3', '1985-Q1',
       '2005-Q4', '2003-Q2', '1949-Q1', '1967-Q1', '1998-Q4', '1981-Q1',
       '1974-Q1', '1967-Q2', '1946-Q1', '1975-Q1', '1918-Q1', '2014-Q4',
       '2003-Q3', '1972-Q1', '1998-Q2', '2001-Q3', '1980-Q1', '1981-Q3',
       '1958-Q1', '1962-Q1', '1995-Q4', '1944-Q1', '1933-Q1', '1968-Q1',
       '2001-Q4', '1982-Q1', '1943-Q1', '1999-Q4', '2002-Q3', '1985-Q2',
       '1996-Q3', '1996-Q4', '2002-Q2', '1912-Q1', '2003-Q4', '1996-Q2',
       '2000-Q3', '1994-Q3', '1978-Q1', '1997-Q3', '1917-Q1', '1924-Q1',
       '1969-Q1', '1997-Q4', '1973-Q1', '1994-Q2', '1992-Q2', '1990-Q2',
       '1980-Q3', '1971-Q1', '1970-Q1', '1930-Q1', '1906-Q1', '1973-Q2',
       '1913-Q1', '1964-Q1', '1969-Q3', '1983-Q4', '1914-Q1', '1953-Q1',
       '1963-Q1', '1993-Q3', '1926-Q1', '1954-Q1', '1961-Q3', '1955-Q1',
       '1956-Q1', '1988-Q3', '1995-Q2', '1911-Q1', '1995-Q3', '1986-Q4',
       '1921-Q1', '1966-Q1', '1982-Q3', '1960-Q1', '1952-Q1', '1990-Q3',
       '1934-Q1', '1989-Q3', '1919-Q2', '1965-Q1', '1993-Q4', '1975-Q2',
       '1922-Q1', '1951-Q1', '1945-Q1', '1984-Q2', '1986-Q2', '1905-Q1',
       '1948-Q1', '1941-Q1', '1959-Q1', '1984-Q3', '1919-Q1', '1992-Q3',
       '1991-Q3', '1963-Q3', '1960-Q2', '1973-Q4', '1991-Q4', '1992-Q4',
       '1990-Q4', '1920-Q1', '1925-Q1', '1994-Q4', '1928-Q1', '1922-Q3',
       '1987-Q3', '1988-Q4', '1979-Q3', '1972-Q2', '1938-Q1', '1937-Q1',
       '1910-Q1', '1950-Q1', '1982-Q4', '1969-Q2', '1903-Q1', '1957-Q1',
       '1912-Q2', '1908-Q1', '1902-Q1', '1924-Q4', '1962-Q3', '1939-Q1',
       '1923-Q1', '1907-Q1'], dtype=object)

In [ ]:
founded_at            38554 non-null  object 
 13  founded_month         38482 non-null  object 
 14  founded_quarter       38482 non-null  object 
 15  founded_year

In [99]:

dff["first_funding_at"].unique()

array(['30', '04', '09', '01', '17', '31', '16', '19', '18', '02', '23',
       '15', '14', '07', '26', '08', '12', '28', '22', '06', '27', '05',
       '10', '11', '03', '21', '20', '25', '24', '13', '29'], dtype=object)

In [ ]:
dff['first_funding_at']=dff['first_funding_at'].astype(int)

In [110]:
ss=dff

In [114]:
ss[ss["founded_month"].isnull()]

,name,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
1,&TV Communications,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,.Fox Networks,Advertising,4912393,closed,ARG,NaN,Buenos Aires,Buenos Aires,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,01Games Technology,Games,41250,operating,HKG,NaN,Hong Kong,Hong Kong,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,100du.tv,Hospitality,3000000,operating,NaN,NaN,NaN,NaN,2.0,NaN,...,0.0,0.0,3000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,100e.com,Education,4500000,operating,CHN,NaN,Beijing,Beijing,2.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49409,ZYB,Social Network Media,3845100,acquired,DNK,NaN,Copenhagen,Copenhagen,2.0,NaN,...,0.0,0.0,3845100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49412,Zygo Corporation,Manufacturing,9000000,unknown,USA,CT,CT - Other,Middlefield,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49431,Zyrra,E-Commerce,1510500,operating,USA,MA,Boston,Cambridge,4.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49434,ZZNode Science and Technology,Enterprise Software,1587301,operating,CHN,NaN,Beijing,Beijing,1.0,NaN,...,0.0,0.0,1587301.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49436,[a]list games,Games,9300000,operating,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0